<article class="post-card {{post_class}}">

    <div class="post-card-content">
        <a class="post-card-content-link" href="{{url}}">
            <header class="post-card-header">
                <div class="post-card-title">{{title}}</div>
            </header>
        </a>

        <footer class="post-card-meta">
            <div class="post-card-byline-content">
                <span class="post-card-byline-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></span>
            </div>
        </footer>

    </div>{{!--/.post-card-content--}}

</article>
